.titulo {
  color: #dbe6ff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  justify-content: space-between;
  font-size: 4.2rem;
  line-height: 1.2;
  font-family: "latin modern Roman";
  font-style: oblique;
  font-size: 95px;
}
.image {
  width: 1750px;
  height: 850px;
}
.cuerpo {
  background-color: black;
}
.fondo_img {
  background-image: url(../images/JHFondo.jpg);
  background-repeat: repeat;
}
.audio {
  display: block;
  object-position: left;
  background-color: red;
}
.texto {
  color: #dde5ff;
  font-size: 25px;
  text-align: justify;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: inline-block;
}
.table_files {
  color: #250000;
  font-size: 30px;
  margin: auto;
  text-align: center;
  border-collapse: inherit;
  border: white 1px solid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #68686838;
}
.table_titles {
  color: #250000;
  font-size: 40px;
  margin: auto;
  text-decoration: black;
  text-align: center;
  border: white 3px solid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #68686838;
}
