body{
    background-color:white;
}

.titulo{
    color: black;
    text-align: center;
}


.image{
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
}

.image2{
    width: 200px;
    height: 150px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #d1dadd;
    color: #d1dadd;
}

.footer1{
    background-color: #d1dadd;
    padding : 2vh;
  }

  .nav ul li{
    text-decoration: none;
    display: inline;
    padding : 5vh 5vw;
  }
  .nav{
    background-color: #d1dadd;
    padding : 2vh;
  }
