* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: "Playfair Display SC", serif;
}

.banner {
  height: 100vh;
  width: 100%;
  background:url('../images/overlay.png'),url('../images/emiliano-cicero-EaZkGnrM154-unsplash.jpg');
	background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ecf0f1;
}

.banner .navbar {
  margin-top: 3%;
}

.navbar-light .navbar-nav .nav-link {
  color: #ecf0f1
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #BBA14F;
}

.banner .info {
  margin-top: 15%;
  transform: translateY(-15%);
}
.banner .info h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ecf0f1;
  letter-spacing: 0.125rem;
}

.banner .info p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #BBA14F;
  letter-spacing: 0.125rem;
}
.song {
  background: url("../images/overlay.png"), url("../images/bohemian-rhapsody-1.jpg");
  height: 45rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.song__killer {
  background: url("../images/overlay.png"), url("../images/SHA.jpg");
  height: 45rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.song__brock {
  background: url("../images/overlay.png"), url("../images/brighton_rock.jpg");
  height: 45rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.song__text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: bold;
  color: #ecf0f1;
}

.song__text h2 {
  color: #BBA14F;
}


.song__text h2 {
  font-family: "Playfair Display SC", serif;
}
.footer {
  background-color: #000;
  color: #ffffff;
  padding: 2.875rem 2.875rem 0.5rem 2.875rem;
  text-align: center;
}

.footer .container {
  margin: 0 auto; 
  opacity: 0.5;
}
/* css styles for index4 */
.title-bio, .bio{
  padding: 1vh;
  font-family: -apple-system, cursive;
}
.bio{
  font-size: 3ex;
}
.bio .double{
  padding-top: 1vh;
}
.members{
  padding: 0vh 1vh;
}
.freddie, .brian, .roger, .john{
  display: flex;
  padding-top: 2vh;
}
.tittle-art{
  padding: 2vh 1vh;
  font-size: 5ex;
  font-family: -apple-system, cursive;
}
.freddie img, .brian img, .roger img, .john img{
  width: 50%;
  height: 50%;
  padding-right: 15px;
}
.nav{
  background-color: #000000;
  padding : 2vh;
}
.nav{
  width: 100%;
  height: auto;
  margin:auto;
}
.nav ul{
  width: 100%;
  height: auto;
  margin:auto;
}
.nav ul li{
  text-decoration: none;
  display: inline;
  padding : 5vh 5vw;
}
.double{
  display: flow-root;
}
.double p{
  padding-bottom: 2vh;
}
.freddie p, .brian p, .roger p, .john p{
  font-family: cursive;
  font-size: 3ex;
}
.redes{
  display: inline;
  padding: 2vh 5vh;
}

.redes .red{
  padding: 2vh 0vh;
  width: 2%;
  height: 2%;
}


