* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
}

.header {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/emiliano-cicero-EaZkGnrM154-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header .header_titulo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  justify-content: space-between;
  font-size: 4.2rem;
  line-height: 1.2;
  font-family: "Playfair Display SC", serif;

  text-transform: uppercase;
}
a {
  color: inherit;
  text-decoration: none;
  color: #9e9ca8;
}

a:hover {
  color: #e8e6f2;
}
.song {
  background-color: #fffff3;
  text-align: center;
}

.song__intro {
  margin-bottom: 3.75rem;
}

.container {
  max-width: 88.375rem;
  margin: 0 auto;
}

.container__pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}
.footer {
  background-color: #000;
  color: #ffffff;
  padding: 2.875rem 2.875rem 0.5rem 2.875rem;
  text-align: center;
}

.footer .container {
  margin: 0 auto;
  opacity: 0.5;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
